@font-face {
  font-family: Gilroyextrabold; /* имя шрифта для CSS правил */
  src: local("Gilroyextrabold.ttf"), /* проверяем наличие шрифта в ОС пользователя */
     url(../fonts/gilroy/Gilroyextrabold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: Gilroylight;
  src: local("Gilroylight.ttf"),
    url(../fonts/gilroy/Gilroylight.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: local("OpenSans-Light.ttf"),
    url(../fonts/open_sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: local("OpenSans-Regular.ttf"),
    url(../fonts/open_sans/OpenSans-Regular.ttf);
}

body {
  line-height: auto;
  font-size: 15px;
  color: #000;
}

h1 {
  font-size: 48px;
  margin: 0;
  font-family: 'Gilroyextrabold';
}

h2 {
  font-size: 47px;
  font-family: 'Gilroyextrabold';
}

h3 {
  font-size: 36px;
  font-family: 'Gilroyextrabold';
}

h4 {
  font-size: 18px;
  font-family: 'Gilroyextrabold';
}

h5 {
  font-size: 13px;
  margin: 0;
  font-family: 'Gilroyextrabold';
}

p {
  font-family: 'OpenSans-Light';
}

a {
  color: #000;
  text-decoration: none;
}

.main-header ul {
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-header li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.container {
  width: 1158px;
  margin: 0 auto;
  /*padding-left: 56px;*/
}

.device {
  width: 179px;
  margin-bottom: 6px;
  margin-left: 60px;
}

.second-navigation {
  min-width: 1039px;
  margin-right: 58px;
  margin-left: 58px;
  padding: 0;
}

.search {
  width: 108px;
  height: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.navigation-top li:nth-child(1) {
  margin-left: 527px;
}

.navigation-top li:nth-child(2) {
  margin-left: 205px;
}

.navigation-top li:nth-child(3) {
  margin-left: 55px;
}

.purchase {
  min-width: 1039px;
  margin: 0 58px;
}

.navigation-bottom {
  letter-spacing: 3px;
}

.navigation-bottom li:nth-child(1) {
  margin-left: -38px;
  margin-right: 326px;
}

.navigation-bottom li:nth-child(2) {
  margin-right: 38px;
}

.navigation-bottom li:nth-child(3) {
  margin-right: 115px;
}

.slider {
  padding-top: 20px;
  padding-left: 88px;
}

.advertising {
   width: 395px;
   float: right;
   margin-top: 90px;
   margin-right: 171px;
}

.record_stick {
  min-width: 480px;
  float: right;
  line-height: 22px;
  margin-top: -266px;
  margin-right: 85px;
  clear: both;
}

.more {
  min-height: 18px;
  float: right;
  margin-top: -189px;
  margin-right: 469px;
}

.table {
  max-width: 425px;
  height: 65px;
  float: right;
  margin-right: 141px;
  margin-top: -85px;
}

.bottom  {
  font-family: 'OpenSans-Light';
  font-size: 13px;
}

td {
  width: 160px;
}

.top h3 {
  font-family: 'OpenSans-Light';
}

.table h3 {
  margin: 0;
}

.goods {
  display: inline-block;
}

.main-all {
  width: 1158px;
  margin: auto;
}

figure {
  width: 158px;
  min-height: 235px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 37px;
}

figure h4 {
  margin: 0;
}

figure:first-child {
  margin-left: 0;
}

figure:last-child {
  margin-right: 0;
}

img#spectacles {
  margin: 52px 110px 92px 30px;
}

img#selfie_stick {
  margin: 43px 36px 39px 38px;
}

img#Action_Camera {
  margin: 38px 108px 74px 49px;
}

img#bracelet {
  margin: 50px 25px 84px 28px;
}

img#whatch {
  margin: 32px 49px 69px 55px;
}

img#copter {
  margin: 49px 15px 81px 13px;
}

.services-nav {
  width: 278px;
  float: left;
}

.services-content {
  width: 820px;
  height: 340px;
  float: right;
  margin-bottom: 27px;
}

.services-nav ul {
  list-style: none;
  font-size: 0;
}

.services-nav li {
  margin-bottom: 40px;
}

.services-nav .active {
  margin-top: 154px;
}

.text-content {
  width: 400px;
  height: 77px;
  line-height: 30px;
}

.heading-content {
  margin: 0;
  margin-top: 136px;
  margin-bottom: 28px;
}

img#delivery {
  float: right;
  margin-top: -160px;
  margin-right: 65px;
}

.brands {
  text-align: center;
  margin-bottom: 105px;
}

.brands img {
  margin-top: 203px;
}

img#dji {
  margin-right: 36px;
}

img#sp {
  margin-right: 36px;
}

img#GoPro {
  margin-right: 33px;
}

.about-us {
  max-width: 480px;
  height: 426px;
  float: left;
}

.about-us h2 {
  width: 132px;
  min-height: 35px;
}

.our-goods {
  margin-bottom: 46px;
}

.displacement {
  margin-bottom: 84px;
}

.more_us {
  margin-left: 10px;
}

.clearfix a {
  max-width: 260px;
}

.about-us ul {
  margin-left: -10px;
  list-style: none;
  line-height: 27px;
}

.clearfix .contacts {
  width: 560px;
  float: right;
}

.clearfix .btn {
  width: 160px;
  margin-top: 47px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.monopods {
  width: 1040px;
  height: 92px;
  margin-left: 60px;
}

.breadcrumbs {
  width: 1040px;
  margin: -33px 0 0 60px;
}

.breadcrumbs a {
  font-size: 14px;
  margin-right: 34px;
}

.breadcrumbs a:last-child {
  margin: 0;
}

.line_grey {
  width: 196px;
  height: 2px;
  background-color: rgb(219, 219, 219);
  margin-left: 4px;
  margin-top: 41px;
  margin-bottom: 85px;
}

.line_green {
  position: relative;
  width: 110px;
  height: 2px;
  background: rgb(145, 201, 47);
}

.circles p {
  opacity: .2;
  font-size: 14px;
}

.circle_1 {
  position: absolute;
  top: -6px;
  left: -6px;
}

.circle_2 {
  position: absolute;
  top: -6px;
  left: 106px;
}

.filters {
  width: 268px;
  height: 1284px;
  margin-top: 80px;
  margin-left: 60px;
  float: left;
}

.name-filters {
  margin-bottom: 84px;
}

.cost {
  margin-bottom: 41px;
}

.labels p {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  opacity: .2;
}

.labels p:last-child {
  margin-left: 63px;
}

.color h5 {
  margin-bottom: 37px;
}

.color input {
  margin-bottom: 17px;
  margin-right: 18px;
}

input#checkbox-id:nth-of-type(5) {
  margin-bottom: 58px;
}

.question input:nth-of-type(1) {
  margin-bottom: 16px;
}

.question input {
  margin-right: 18px;
}

.question-bt {
  margin-bottom: 7px;
}

button {
  margin-top: 53px;
}

.sorting {
  width: 830px;
  height: 70px;
  float: left;
  margin-top: 80px;
  /*margin-left: 30px;*/
}

.sorting li {
  display: inline-block;
  vertical-align: top;
  margin-top: -43px;
}

.sorting li:nth-child(1) {
  margin-left: 160px;
}

.sorting li:nth-child(2) {
  margin-left: 29px;
}

.sorting li:nth-child(3) {
  margin-left: 31px;
}

.product-item {
  margin: 70px 0 0 70px;
  width: 760px;
  height: 1001px;
  float: right;
}

.product-item h4 {
  margin-top: 31px;
  margin-bottom: 41px;
}

.Stick {
  float: left;
}

.Smart_stick {
  margin-top: 0px;
  float: right;
}

.Water_stick {
  float: left;
  margin-top: 28px;
}

.Arm_stick {
  float: right;
  margin-top: 28px;
}

.pagination {
  float: right;
  width: 760px;
  height: 70px;
  margin-top: -2px;
}

.pagination a {
  display: inline-block;
  vertical-align: top;
}

.prev_disabled {
  margin-left: 30px;
}

.active {
  margin-left: 240px;
}

.two {
  margin-left: 31px;
}

.three {
  margin-left: 26px;
}

.next {
  margin-left: 238px;
}

footer {
  margin-top: 95px;
}

footer h4 {
  letter-spacing: 3px;
}

.footer-contacts h1 {
  margin: 0;
  margin-bottom: 26px;
}

.main-footer-left {
  width: 205px;
  height: 180px;
  float: left;
}

.main-footer-center {
  width: 442px;
  height: 120px;
  float: left;
  margin-left: 158px;
}

footer .navigation-bottom h4 {
  margin: 0;
}

.main-footer-center li {
  display: inline-block;
  vertical-align: top;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  margin-right: 65px;
}

.main-footer-right {
  width: 300px;
  float: right;
}

.footer-copyright {
  float: right;
}

.footer-nav li:nth-child(1) {
  margin-left: -35px;
}

.footer-nav li:nth-child(2) {
  margin-left: 38px;
}

.footer-nav li:nth-child(3) {
  margin-left: 50px;
}





/*--------------------------*/
/*
body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
