@font-face {
  font-family: Gilroyextrabold; /* имя шрифта для CSS правил */
  src: local("Gilroyextrabold.ttf"), /* проверяем наличие шрифта в ОС пользователя */
     url(../fonts/gilroy/Gilroyextrabold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
  font-family: Gilroylight;
  src: local("Gilroylight.ttf"),
    url(../fonts/gilroy/Gilroylight.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: local("OpenSans-Light.ttf"),
    url(../fonts/open_sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: local("OpenSans-Regular.ttf"),
    url(../fonts/open_sans/OpenSans-Regular.ttf);
}

body {
  font-size: 15px;
  min-width: 205px;
}

h1 {
  font-size: 47px;
  margin: 0;
  font-family: 'Gilroyextrabold';
}

h2 {
  font-size: 47px;
  font-family: 'Gilroyextrabold';
}

h3 {
  font-size: 36px;
  font-family: 'Gilroyextrabold';
}

h4 {
  font-size: 18px;
  font-family: 'Gilroyextrabold';
}

h5 {
  font-size: 18px;
  margin: 0;
  font-family: 'Gilroyextrabold';
}

p {
  font-family: 'OpenSans-Regular';
}

a {
  color: #000;
  text-decoration: none;
}

.main-header {
  width: 1158px;
  margin-top: 60px;
  margin: 16px auto;
}

.main-header ul {
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-header li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.index {
  background: rgb(247, 226, 150);
  padding-top: 16px;
  padding-bottom: 112px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
.navigation-bottom {
  font-family: 'Gilroyextrabold';
}

main {
  width: 1440px;
}

.device {
  position: absolute;
  top: -72px;
  width: 179px;
  font-size: 48px;
  font-family: 'Gilroyextrabold';
}

.second-navigation {
  min-width: 1039px;
  margin-right: 58px;
  margin-left: 58px;
  padding: 0;
}

.search {
  outline:none;
  font-size: 15px;
  position: relative;
  width: 108px;
  height: 11px;
  margin-top: 12px;
  margin-left: 20px;
}

.search::before {
  display: block;
  content: "";
  position: absolute;
  top: 12px;
  left: -15px;
  width: 16px;
  height: 16px;

  background: transparent url('../img/sprite.png') no-repeat;
  background-position: -2px -22px;
}

.navigation-top {
  position: relative;
  font-family: 'OpenSans-Light';
  letter-spacing: -.5px;
}

.compare2 {
  margin-left: 20px;
}

.navigation-top li:nth-child(1) {
  position: relative;
  margin-left: 530px;
}

.navigation-top li:nth-child(2) {
  position: relative;
  margin-left: 229px;
}

.navigation-top li:nth-child(3) {
  position: relative;
  margin-left: 63px;
}

.btne:hover {
  opacity: .6;
}

.purchase {
  position: relative;
  min-width: 1039px;
  margin: 0 58px;
  margin-bottom: 22px;
}

.navigation-bottom {
  margin-top: 54px;
  letter-spacing: 3px;
  text-transform: uppercase;
  word-spacing: 12px;
}

.navigation-bottom li:nth-child(1) {
  margin-left: -39px;
}

.navigation-bottom li:nth-child(2) {
  margin-left: 307px;
}

.navigation-bottom li:nth-child(3) {
  margin-left: 20px;
}

.navigation-bottom li:nth-child(4) {
  margin-left: 95px;
}

.plus {
  position: relative;
}

.plus::before {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: 217px;
  width: 16px;
  height: 16px;

  background: transparent url('../img/sprite.png') no-repeat;
  background-position: -22px -42px;
}

.slider {
  padding-top: 30px;
  padding-left: 88px;
}

.advertising {
   width: 370px;
   float: right;
   margin-top: 79px;
   margin-right: 170px;
}

.record_stick {
  min-width: 480px;
  float: right;
  line-height: 22px;
  margin-top: -266px;
  margin-right: 49px;
  clear: both;
}

.more {
  min-height: 18px;
  float: right;
  margin-top: -189px;
  margin-right: 339px;
}

.table {
  max-width: 425px;
  height: 65px;
  float: right;
  margin-right: 114px;
  margin-top: -85px;
}

.bottom  {
  position: relative;
  letter-spacing: 3px;
  width: 200px;
  font-family: 'Gilroyextrabold';
  text-transform: uppercase;
  z-index: 1;
}

.bottom::before {
  position: absolute;
  top: 6px;
  display: block;
  content: "";
  height: 4px;
  background-color: rgb(240, 197, 46);
  min-width: 200px;
  z-index: 0;
}

.bottoms  {
  color: #000;
  position: relative;
  letter-spacing: 3px;
  width: 200px;
  font-family: 'Gilroyextrabold';
  text-transform: uppercase;
  z-index: 1;
}

.bottoms::before {
  position: absolute;
  top: 6px;
  display: block;
  content: "";
  height: 4px;
  background-color: rgb(240, 197, 46);
  min-width: 200px;
  z-index: 0;
}

.in_bascet {
  position: relative;
}

.compare2 {
  position: relative;
}

.seening {
  position: relative;
}

td {
  width: 160px;
}

.bottome {
  font-family: 'OpenSans-Regular';
  font-size: 13px;
}

.top h3 {
  font-family: 'OpenSans-Light';
}

.table h3 {
  margin: 0;
}

.goods {
  display: inline-block;
  margin-left: 70px;
  margin-top: 90px;
}

.main-all {
  width: 1440px;
  margin: auto;
  margin-left: 0;
}

figure {
  width: 159px;
  min-height: 235px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 37px;
}

figure img#spectacles {
  background-color: rgb(247, 226, 150);
  padding: 52px 32px 53px 31px;
}

figure img#selfie_stick {
  background-color: rgb(247, 226, 150);
  padding: 43px 36px 0px 38px;
}

figure img#Action_Camera {
  background-color: rgb(247, 226, 150);
  padding: 38px 40px 35px 49px;
}

figure img#bracelet {
  background-color: rgb(247, 226, 150);
  padding: 50px 34px 45px 37px;
}

figure img#whatch {
  background-color: rgb(247, 226, 150);
  padding: 32px 49px 30px 55px;
}

figure img#copter {
  background-color: rgb(247, 226, 150);
  padding: 49px 15px 42px 13px;
}

figure h4 {
  margin: 0;
}

figure:first-child {
  margin-left: 0;
}

figure:last-child {
  margin-right: 0;
}

.services {
  width: 100%;
  height: 310px;
  background-color: #e5e5e5;
}

.services-nav {
  width: 278px;
  float: left;
}

.services-content {
  width: 820px;
  height: 340px;
  float: right;
  margin-bottom: 27px;
}

.services-nav ul {
  list-style: none;
  font-size: 0;
}

.services-nav li {
  margin-bottom: 40px;
}

.services-nav .active {
  margin-top: 154px;
}

.text-content {
  width: 400px;
  height: 77px;
  line-height: 30px;
}

.heading-content {
  margin: 0;
  margin-top: 126px;
  margin-bottom: 28px;
}

img#delivery {
  float: right;
  margin-top: -160px;
  margin-right: 65px;
}

.brands {
  text-align: center;
  margin-bottom: 105px;
}

.brands img {
  margin-top: 203px;
}

img#dji {
  margin-right: 36px;
}

img#sp {
  margin-right: 36px;
}

img#GoPro {
  margin-right: 33px;
}

.about-us {
  max-width: 480px;
  height: 426px;
  float: left;
}

.about-us h2 {
  width: 132px;
  min-height: 35px;
}

.our-goods {
  margin-bottom: 46px;
}

.displacement {
  margin-bottom: 84px;
}

.more_us {
  margin-left: 10px;
}

.clearfix a {
  color: #fff;
}

.about-us ul {
  margin-left: -10px;
  list-style: none;
  line-height: 27px;
}

.clearfix .contacts {
  width: 560px;
  float: right;
}

.clearfix .btn {
  width: 160px;
  margin-top: 37px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.header {
  margin: 0;
  background: rgb(247, 226, 150);
  padding-top: 33px;
  padding-bottom: 27px;
}

.navigation-top-catalog {
  margin-bottom: 54px;
  font-family: 'OpenSans-Light';
  letter-spacing: -.5px;
}

.navigation-top-catalog li:nth-child(1) {
  position: relative;
  margin-left: 532px;
}

.navigation-top-catalog li:nth-child(2) {
  position: relative;
  margin-left: 24px;
  opacity: .3;
}

.navigation-top-catalog li:nth-child(3) {
  position: relative;
  margin-left: 84px;
}

.navigation-top-catalog li:nth-child(4) {
  position: relative;
  margin-left: 59px;
}

.user::before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: -26px;
  width: 13px;
  height: 12px;

  background: transparent url('../img/sprite.png') no-repeat;
  background-position: -23px -24px;
}

.compare::before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: -22px;
  width: 10px;
  height: 10px;

  background: transparent url('../img/sprite.png') no-repeat;
  background-position: -5px -45px;
}

.basket::before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: -22px;
  width: 12px;
  height: 12px;

  background: transparent url('../img/sprite.png') no-repeat;
  background-position: -24px -4px;
}


.monopods {
  width: 1040px;
  height: 82px;
  margin-left: 198px;
  margin-top: 33px;
}

.breadcrumbs {
  width: 1040px;
  margin: -2px 0 0 198px;
  opacity: .3;
}

.container .breadcrumbs a:nth-of-type(1) {
  position: relative;
}

.container .breadcrumbs a:nth-of-type(2) {
  position: relative;
}

.container .breadcrumbs a:nth-of-type(1)::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 69px;
  width: 4px;
  height: 7px;

  background: transparent url('../img/sprite.png') no-repeat;
  background-position: -8px -6px;
}

.container .breadcrumbs a:nth-of-type(2)::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 128px;
  width: 4px;
  height: 7px;

  background: transparent url('../img/sprite.png') no-repeat;
  background-position: -8px -6px;
}

main {
  max-width: 1440px;
}

.breadcrumbs a {
  font-size: 14px;
  margin-right: 34px;
}

.breadcrumbs a:first-child {
  margin-left: 2px;
}

.breadcrumbs a:last-child {
  margin: 0;
}

.chain {
  margin-top: -5px;
}

.line_grey {
  width: 196px;
  height: 2px;
  background-color: rgb(219, 219, 219);
  margin-left: 4px;
  margin-top: 36px;
  margin-bottom: 85px;
}

.line_green {
  position: relative;
  width: 110px;
  height: 2px;
  background: rgb(145, 201, 47);
}

.range-toggle {
  position: absolute;
  top: -6px;
  left: -7px;
  width: 10px;
  height: 10px;

  background: rgb(238, 238, 238);
  border: 2px solid #000;

  border-radius: 50%;
  cursor: pointer;
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  margin-top: 2px;

  cursor: pointer;
  opacity: .2;
}

.range-toggle-max {
  left: 107px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.circles p {
  opacity: .2;
  font-size: 14px;
}

.circle_1 {
  position: absolute;
  top: -6px;
  left: -6px;
}

.circle_2 {
  position: absolute;
  top: -6px;
  left: 106px;
}

.filters {
  margin: 0;
  width: 468px;
  height: 1284px;
  margin-top: 50px;
  float: left;
}

.name-filters {
  margin-top: 2px;
  font-size: 16px;
  text-transform: uppercase;
  background: rgb(219, 219, 219);
  padding-top: 24px;
  padding-bottom: 28px;
  padding-left: 198px;
}

.block {
  background-color: rgb(238, 238, 238);
  padding-top: 87px;
  margin-top: -21px;
  padding-bottom: 558px;
  padding-left: 198px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin-left: 40px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  margin-left: 40px;
  position: absolute;
  top: -2px;
  left: -80px;

  width: 24px;
  height: 24px;

  background: rgb(219, 219, 219);
  font-size: 24px;
}

input[type="checkbox"]:checked + label::before {
  background: rgb(219, 219, 219) url("../img/tick.png") no-repeat 50% 50%;
}

.cost {
  font-size: 18px;
  margin-bottom: 41px;
}

.labels p {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  opacity: .2;
}

.labels p:last-child {
  margin-left: 63px;
}

.color {
  line-height: 22px;
  width: 118px;
}

.color h5 {
  font-size: 18px;
  margin-bottom: 34px;
}

.color input:nth-child(5) {
  margin-top: 32px;
}

.color input {
  margin-top: -9px;
  margin-bottom: 17px;
  margin-right: 18px;
}

input#pink {
  margin-bottom: 58px;
}

.question input:nth-of-type(1) {
  margin-bottom: 16px;
}

.question input {
  margin-right: 18px;
}

.bottoms span {
  position: relative;
}

.question input#question-two {
  margin-bottom: 53px;
}

.question-bt {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 14px;
}

.question-bt:last-child {
  margin-bottom: 53px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin-left: 40px;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  display: block;
  margin-left: 40px;
  position: absolute;
  top: -5px;
  left: -79px;
  border-radius: 50%;
  border: 2px solid rgb(225, 225, 225);

  width: 21px;
  height: 21px;

  font-size: 21px;
}

input[type="radio"]:checked + label::before {
  background: url("../img/Shape.png") no-repeat 50% 50%;
}

.see {
  width: 200px;
  letter-spacing: 4px;
  margin-top: 53px;
}

.sorting {
  width: 972px;
  height: 67px;
  float: left;;
  margin-top: 52px;
  background: rgb(235, 235, 235);
  padding-left: 0px;
  color: #000;
  padding-top: 4px;
}
.sorting a {
 color: #000;
}

.sorting .activ {
  opacity: .3;
}

.sorting h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 70px;
}

.sorting li {
  display: inline-block;
  vertical-align: top;
  margin-top: -42px;
}

.sorting li:nth-child(1) {
  margin-left: 160px;
}

.sorting li:nth-child(2) {
  margin-left: 29px;
}

.sorting li:nth-child(3) {
  margin-left: 31px;
}

.product-item {
  margin: 68px 0 0 70px;
  width: 760px;
  height: 1001px;
  float: left;
}

.product-item h4 {
  margin-top: 31px;
  margin-bottom: 41px;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 56px;
/*  padding: 178px 0 0 80px;*/
  margin-top: 174px;
  margin-left: 80px;
  text-align: center;
}

.actions .in_bascet,
.actions .compare2 {
  text-decoration: none;
  color: #000;
  display: block;
}

.actions {
  display: none;
}

.Stick:hover .actions {
  display: block;
}

.Smart_stick:hover .actions {
  display: block;
}

.Water_stick:hover .actions {
  display: block;
}

.Arm_stick:hover .actions {
  display: block;
}

.in_bascet {
  white-space: pre;
  font-family: 'Gilroyextrabold';
  text-transform: uppercase;
  font-size: 18px;
}

.compare2 {
  font-family: 'OpenSans-Regular';
  font-size: 13px;
}

.Stick {
  position: relative;
  float: left;
}

.Stick:hover {
  opacity: .7;
}

.Stick p {
  font-size: 16px;
  font-family: 'Gilroylight';
  margin-left: 289px;
  margin-top: -61px;
}

.Smart_stick {
  position: relative;
  margin-top: 0px;
  float: right;
}

.Smart_stick:hover {
  opacity: .7;
}

.Smart_stick h4 {
  width: 200px;
}

.Smart_stick p {
  font-size: 16px;
  font-family: 'Gilroylight';
  margin-left: 281px;
  margin-top: -83px;
  margin-bottom: 18px;
}

.Water_stick {
  position: relative;
  float: left;
  margin-top: 54px;
}

.Water_stick:hover {
  opacity: .7;
}

.Water_stick p {
  font-size: 16px;
  font-family: 'Gilroylight';
  margin-left: 277px;
  margin-top: -61px;
}

.Arm_stick {
  position: relative;
  float: right;
  margin-top: 52px;
}

.Arm_stick:hover {
  opacity: .7;
}

.Arm_stick h4 {
  width: 170px;
}

.Arm_stick p {
  font-size: 16px;
  font-family: 'Gilroylight';
  margin-left: 282px;
  margin-top: -83px;
}

.pagination {
  text-transform: uppercase;
  float: left;
  width: 760px;
  height: 70px;
  margin-left: 72px;
  padding: 1px 0;
  background: rgb(239, 239, 239);
}

.pagination a {
  display: inline-block;
  vertical-align: top;
  color: #000;
}

.prev_disabled {
  margin-left: 30px;
}

.active {
  margin-left: 240px;
}

.two {
  margin-left: 31px;
}

.three {
  margin-left: 26px;
}

.next {
  margin-left: 238px;
}

footer {
  height: 323px;
  background-color: rgb(70, 70, 70);
  width: 100%;
  color: #ffffff;
  margin-top: 21px;
}

.devices {
  position: relative;
  font-family: 'Gilroyextrabold';
  font-size: 48px;
  margin-bottom: 29px;
  margin-top: 50px;
}

.devices::before {
  position: absolute;
  top: 185px;
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: rgb(247, 224, 132);
}

.footer-contacts a {
  color: #f7e184;
}

footer h4 {
  letter-spacing: 3px;
}

.footer-contacts {
  margin-left: 136px;
}

.footer-contacts span {
  width: 201px;
  height: 16px;
  white-space: pre;
}

.footer-contacts h1 {
  margin: 0;
  margin-bottom: 26px;
}

.footer-navigation-bottom <h4> {
  color: #ffffff;
}

.main-footer-left {
  width: 205px;
  height: 180px;
  float: left;
}

.main-footer-center {
  margin-top: 120px;
  width: 460px;
  height: 120px;
  float: left;
  margin-left: 258px;
}

footer .navigation-bottom h4 {
  margin: 0;
}

.main-footer-center li {
  color: #000;
  display: inline-block;
  vertical-align: top;
}

.footer-social {
  text-align: center;
}

 .footer-social img#facebook {
  margin-right: 12px;
  margin-left: 40px;
}

img#twitter {
  margin-left: 12px;
}

.footer-social a {
  margin-right: 0px;
}

.main-footer-right {
  width: 300px;
  float: right;
}

.header-top {
  list-style: none;
}

.footer-copyright {
  float: right;
}

.footer-nav {
  font-family: 'Gilroyextrabold';
  font-size: 18px;
  width: 500px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer-nav li:nth-child(1) {
  margin-right: 34px;
}

.footer-nav li:nth-child(3) {
  margin-right: 50px;
}

.footer-extra-nav {
  width: 300px;
  margin-top: 69px;
}

.footer-extra-nav ul {
  font-family: 'OpenSans-Regular';
  margin: 0;
  list-style: none;
}

.footer-extra-nav li {
  position: relative;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}

.users {
  margin-left: -36px;
}

.users::before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: -64px;
  width: 13px;
  height: 12px;

  background: transparent url('../img/sprite_orange.png') no-repeat;
  background-position: -3px -24px;
}

.compares {
  margin-left: 59px;
}

.compares::before {
  display: block;
  content: "";
  position: absolute;
  top: 6px;
  left: 39px;
  width: 10px;
  height: 10px;

  background: transparent url('../img/sprite_orange.png') no-repeat;
  background-position: -6px -6px;
}

.baskets {
  margin-left: 51px;
}

.baskets::before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  left: 29px;
  width: 12px;
  height: 12px;

  background: transparent url('../img/sprite_orange.png') no-repeat;
  background-position: -23px -4px;
}

.contacts_namber {
  margin-right: ;
}

.footer-copyright {
  margin-top: 55px;
}




/*--------------------------*/
/*
body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * > * > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}
