@font-face {
    font-family: Scriptorama; /* имя шрифта для CSS правил */
    src: local("Gilroy"), /* проверяем наличие шрифта в ОС пользователя */
         url(fonts/gilroy); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

  @font-face {
      font-family: Scriptorama; /* имя шрифта для CSS правил */
      src: local("open_sans"), /* проверяем наличие шрифта в ОС пользователя */
           url(fonts/gilroy); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body {
  font-family: 'Anton', sans-serif;
  line-height: auto;
  font-size: 15px;
  color: #000;
}

h1 {
  font-size: 48px;
  margin: 0;
  font-family: 'Gilroy';
}

h2 {
  font-size: 47px;
  font-family: 'Gilroy';
}

h3 {
  font-size: 36px;
  font-family: 'Gilroy';
}

h4 {
  font-size: 18px;
  font-family: 'Gilroy';
}

h5 {
  font-size: 13px;
  margin: 0;
  font-family: 'Gilroy';
}

p {
  font-family: 'open_sans';
}

a {
  color: #000;
  text-decoration: none;
}

.main-header ul {
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-header li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.container {
  width: 1158px;
  margin: 0 auto;
  /*padding-left: 56px;*/
}

.device {
  width: 179px;
  margin-bottom: 6px;
  margin-left: 60px;
}

.second-navigation {
  min-width: 1039px;
  margin-right: 58px;
  margin-left: 58px;
  padding: 0;
}

.search {
  width: 108px;
  height: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.navigation-top li:nth-child(1) {
  margin-left: 527px;
}

.navigation-top li:nth-child(2) {
  margin-left: 205px;
}

.navigation-top li:nth-child(3) {
  margin-left: 55px;
}

.purchase {
  min-width: 1039px;
  margin: 0 58px;
}

.navigation-bottom {
  letter-spacing: 3px;
}

.navigation-bottom li:nth-child(1) {
  margin-left: -38px;
  margin-right: 326px;
}

.navigation-bottom li:nth-child(2) {
  margin-right: 38px;
}

.navigation-bottom li:nth-child(3) {
  margin-right: 115px;
}

.slider {
  padding-top: 20px;
  padding-left: 88px;
}

 .advertising {
   width: 395px;
   float: right;
   margin-top: 90px;
   margin-right: 171px;
}

.record_stick {
  min-width: 480px;
  float: right;
  line-height: 22px;
  margin-top: -266px;
  margin-right: 85px;
  clear: both;
}

.more {
  min-height: 18px;
  float: right;
  margin-top: -189px;
  margin-right: 469px;
}

.table {
  max-width: 425px;
  height: 65px;
  float: right;
  margin-right: 141px;
  margin-top: -85px;
}

.bottom  {
  font-family: 'open_sans';
  font-size: 13px;
}

td {
  width: 160px;
}

.top h3 {
  font-family: 'light';
}

.table h3 {
  margin: 0;
}















.goods {
  display: inline-block;
}


.main-all {
  width: 1158px;
  margin: auto;
}

figure {
  width: 158px;
  min-height: 235px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 37px;
}

figure h4 {
  margin: 0;
}

figure:first-child {
  margin-left: 0;
}

figure:last-child {
  margin-right: 0;
}

img#spectacles {
  margin: 52px 110px 92px 30px;
}

img#selfie_stick {
  margin: 43px 36px 39px 38px;
}

img#Action_Camera {
  margin: 38px 108px 74px 49px;
}

img#bracelet {
  margin: 50px 25px 84px 28px;
}

img#whatch {
  margin: 32px 49px 69px 55px;
}

img#copter {
  margin: 49px 15px 81px 13px;
}










.services-nav {
  width: 278px;
  float: left;
}

.services-content {
  width: 820px;
  height: 340px;
  float: right;
  margin-bottom: 27px;
}

.services-nav ul {
  list-style: none;
  font-size: 0;
}

.services-nav li {
  margin-bottom: 40px;
}

.services-nav .active {
  margin-top: 154px;
}

.text-content {
  width: 400px;
  height: 77px;
  line-height: 30px;
}

.heading-content {
  margin: 0;
  margin-top: 136px;
  margin-bottom: 28px;
}

img#delivery {
  float: right;
  margin-top: -160px;
  margin-right: 65px;
}

.brands {
  text-align: center;
  margin-bottom: 105px;
}

.brands img {
  margin-top: 203px;
}

img#dji {
  margin-right: 36px;
}

img#sp {
  margin-right: 36px;
}

img#GoPro {
  margin-right: 33px;
}

.about-us {
  max-width: 480px;
  height: 426px;
  float: left;
}

.about-us h2 {
  width: 132px;
  min-height: 35px;
}

.our-goods {
  margin-bottom: 46px;
}

.displacement {
  margin-bottom: 84px;
}

.more_us {
  margin-left: 10px;
}

.clearfix a {
  max-width: 260px;
}

.about-us ul {
  margin-left: -10px;
  list-style: none;
  line-height: 27px;
}

.clearfix .contacts {
  width: 560px;
  float: right;
}

.clearfix .btn {
  width: 160px;
  margin-top: 47px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}




















footer {
  margin-top: 95px;
}

footer h4 {
  letter-spacing: 3px;
}

.footer-contacts h1 {
  margin: 0;
  margin-bottom: 26px;
}

.main-footer-left {
  width: 205px;
  height: 180px;
  float: left;
}

.main-footer-center {
  width: 442px;
  height: 120px;
  float: left;
  margin-left: 158px;
}

footer .navigation-bottom h4 {
  margin: 0;
}

.main-footer-center li {
  display: inline-block;
  vertical-align: top;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  margin-right: 65px;
}

.main-footer-right {
  width: 300px;
  float: right;
}

.footer-copyright {
  float: right;
}

.footer-nav li:nth-child(1) {
  margin-left: -35px;
}

.footer-nav li:nth-child(2) {
  margin-left: 38px;
}

.footer-nav li:nth-child(3) {
  margin-left: 50px;
}





/*--------------------------*/

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
