@font-face {
    font-family: Scriptorama; /* имя шрифта для CSS правил */
    src: local("Gilroy"), /* проверяем наличие шрифта в ОС пользователя */
         url(fonts/gilroy); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

  @font-face {
      font-family: Scriptorama; /* имя шрифта для CSS правил */
      src: local("open_sans"), /* проверяем наличие шрифта в ОС пользователя */
           url(fonts/gilroy); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body {
  font-family: 'Anton', sans-serif;
  line-height: auto;
  font-size: 15px;
  color: #000;
}

h1 {
  font-size: 48px;
  margin: 0;
  font-family: 'Gilroy';
}

h2 {
  font-size: 47px;
  font-family: 'Gilroy';
}

h3 {
  font-size: 36px;
  font-family: 'Gilroy';
}

h4 {
  font-size: 18px;
  font-family: 'Gilroy';
}

h5 {
  font-size: 16px;
  margin: 0;
  font-family: 'Gilroy';
}

h6 {
  font-size: 13px;
  margin: 0;
  font-family: 'Gilroy';
}

p {
  font-family: 'open_sans';
}

a {
  color: #000;
  text-decoration: none;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  height: 148px;
  margin-bottom: 62px;
}

.main-header ul {
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-header li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.container {
  width: 1158px;
  margin: 0 auto;
  /*padding-left: 56px;*/
}

.device {
  width: 179px;
  margin-bottom: 6px;
  margin-left: 60px;
}

.second-navigation {
  min-width: 1039px;
  margin-right: 58px;
  margin-left: 58px;
  padding: 0;
}

.search {
  width: 108px;
  height: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.navigation-top li:nth-child(1) {
  margin-left: 527px;
}

.navigation-top li:nth-child(2) {
  margin-left: 205px;
}

.navigation-top li:nth-child(3) {
  margin-left: 55px;
}

.purchase {
  min-width: 1039px;
  margin: 0 58px;
}

.navigation-bottom {
  letter-spacing: 3px;
}

.navigation-bottom li:nth-child(1) {
  margin-left: -38px;
  margin-right: 326px;
}

.navigation-bottom li:nth-child(2) {
  margin-right: 38px;
}

.navigation-bottom li:nth-child(3) {
  margin-right: 115px;
}

.main-menu {
  width: 1158px;
  margin: auto;
}

.monopods {
  width: 1040px;
  height: 92px;
  margin-left: 60px;
}

.breadcrumbs {
  width: 1040px;
  margin: -41px 0 0 60px;
}

.breadcrumbs a {
  font-size: 14px;
  margin-right: 34px;
}

.breadcrumbs a:last-child {
  margin: 0;
}

.line_grey {
  width: 196px;
  height: 2px;
  background-color: rgb(219, 219, 219);
  margin-left: 4px;
}

.line_green {
  width: 110px;
  height: 2px;
  background: rgb(145, 201, 47);
}

.filters {
  width: 268px;
  height: 1284px;
  margin-top: 80px;
  margin-left: 60px;
  float: left;
}

.name-filters {
  margin-bottom: 84px;
}

.cost {
  margin-bottom: 37px;
}

.labels p {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  opacity: .2;
}

.labels p:last-child {
  margin-left: 63px;
}

.color h5 {
  margin-bottom: 37px;
}

input#checkbox-id {
  margin-bottom: 17px;
  margin-right: 18px;
}

input#checkbox-id:nth-of-type(5) {
  margin-bottom: 58px;
}

.question input:nth-of-type(1) {
  margin-bottom: 16px;
}

.question input {
  margin-right: 18px;
}

.question-bt {
  margin-bottom: 7px;
}

button {
  margin-top: 53px;
}

.sorting {
  width: 830px;
  height: 70px;
  float: left;
  margin-top: 80px;
  /*margin-left: 30px;*/
}

.sorting li {
  display: inline-block;
  vertical-align: top;
  margin-top: -43px;
}

.sorting li:nth-child(1) {
  margin-left: 160px;
}

.sorting li:nth-child(2) {
  margin-left: 29px;
}

.sorting li:nth-child(3) {
  margin-left: 31px;
}

.product-item {
  margin: 70px 0 0 70px;
  width: 760px;
  height: 1001px;
  float: right;
}

.product-item h4 {
  margin-top: 31px;
}

.Stick {
  float: left;
}

.Smart_stick {
  margin-top: 0px;
  float: right;
}

.Water_stick {
  float: left;
  margin-top: 28px;
}

.Arm_stick {
  float: right;
  margin-top: 28px;
}

.pagination {
  float: right;
  width: 760px;
  height: 70px;
  margin-top: -2px;
}

.pagination a {
  display: inline-block;
  vertical-align: top;
}

.prev_disabled {
  margin-left: 30px;
}

.active {
  margin-left: 240px;
}

.two {
  margin-left: 31px;
}

.three {
  margin-left: 26px;
}

.next {
  margin-left: 238px;
}

footer {
  margin-top: 95px;
}

footer h4 {
  letter-spacing: 3px;
}

.footer-contacts h1 {
  margin: 0;
  margin-bottom: 26px;
}

.main-footer-left {
  width: 205px;
  height: 180px;
  float: left;
}

.main-footer-center {
  width: 435px;
  height: 120px;
  float: left;
  margin-left: 158px;
}

footer .navigation-bottom h4 {
  margin: 0;
}

.main-footer-center li {
  display: inline-block;
  vertical-align: top;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  margin-right: 65px;
}

.main-footer-right {
  width: 300px;
  float: right;
}

.footer-copyright {
  float: right;
}

.footer-nav li:nth-child(1) {
  margin-left: -35px;
}

.footer-nav li:nth-child(2) {
  margin-left: 38px;
}

.footer-nav li:nth-child(3) {
  margin-left: 50px;
}









/*--------------------------*/

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
/*
body > * > * > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}
/*
body > * > * > * > * > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}
