body {
  font-family: 'Anton', sans-serif;
  line-height: auto;
  font-size: 15px;
  color: #000;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 47px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bolder;
}

h5 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.main-header ul {
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-header li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.container {
  width: 1158px;
  margin: 0 auto;
  /*padding-left: 56px;*/
}

.device {
  width: 179px;
  margin-bottom: 6px;
  margin-left: 60px;
}

.second-navigation {
  min-width: 1039px;
  margin-right: 60px;
  margin-left: 60px;
  padding: 0;
}

.search {
  width: 108px;
  height: 10px;
}

.navigation-top li:nth-child(1) {
  margin-right: 420px;
}

.navigation-top li:nth-child(2) {
  margin-right: 238px;
}

.navigation-top li:nth-child(3) {
  margin-right: 65px;
}

.purchase {
  min-width: 1039px;
  margin: 0 60px;
}

.navigation-bottom {
  letter-spacing: 3px;
}

.navigation-bottom li:nth-child(1) {
  margin-left: -38px;
  margin-right: 326px;
}

.navigation-bottom li:nth-child(2) {
  margin-right: 38px;
}

.navigation-bottom li:nth-child(3) {
  margin-right: 115px;
}


.main-menu {
  width: 1158px;
  margin: auto;
}

.slider {
  padding-top: 20px;
  padding-left: 110px;
}

 .advertising {
   width: 395px;
   float: right;
   margin-top: 90px;
   margin-right: 165px;
}

.record_stick {
  min-width: 480px;
  float: right;
  line-height: 22px;
  margin-top: -266px;
  margin-right: 79px;
  clear: both;
}

.more {
  min-height: 18px;
  float: right;
  margin-top: -189px;
  margin-right: 463px;
}

.table {
  width: 425px;
  height: 65px;
  float: right;
  margin-right: 138px;
  margin-top: -85px;
}

.table h3 {
  margin: 0;
}

.goods {
  display: inline-block;
  /*text-align: center;*/

}

figure {
  width: 158px;
  height: 235px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 40px;
}

.goods img:nth-of-type(1) {
  margin: 52px 110px 90px 30px;
}

 img#selfie_stick {
  margin: 43px 36px 35px 38px;
}














/*--------------------------*/

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
